@{
    ViewBag.Title = "About JME Salon";
}

<div class="jumbotron text-center">
    <div class="container-fluid">
        <img class="img-responsive home-logo" src="~/images/jme-salon-logo_2-01.png" />
        <!--<h1 class="main-head">JME Salon</h1>-->

    </div>
</div>

<div class="container">
    <h2>@ViewBag.Title</h2>
    <h3>Best Hair Salon in DC.</h3>

    <p>JME Salon was voted “Best Hair Salon in DC”, “Best Hair Color Salons DC”, and “Best Balayage Highlights Salons DC”. We are also known for being the 
    “Best Balayage Highlights Salons Northern Virginia”, “Best Highlights Salons DC”, “Best Hair Extensions Salons DC” and the “Best Hair Color Correction Salons DC”. 
    Our Award winning hair stylists and colorists are some of the top hair stylists in Washington, DC. Our creative hair styling and beauty team have worked on some of 
    the fashion world's most important photo shoots. We are also nominated for being the “Best Ombre Highlights Salons DC”.</p>
    <h4>We are committed and passionate about helping you look and feel your best.</h4>
</div>