@{
    ViewBag.Title = "Contact & Bookings";
}

<div class="container">
    <h2 class="page-header">@ViewBag.Title</h2>

    <h4>Address</h4>
    <address>
        15678 Beauty Road<br />
        Los Angeles, CA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        571.111.0001
    </address>

    <address>
        <strong>Appointments:</strong>   <a href="mailto:appointments@jmesalon.com">appointments@jmesalon.com</a><br />
        <strong>Other Inquiries:</strong> <a href="mailto:inquiries@example.com">inquiries@jmesalon.com</a>
    </address>
</div>