@{
    ViewBag.Title = "Home";
}

<div class="jumbotron text-center">
    <div class="container-fluid">
        <img class="img-responsive home-logo" src="~/images/jme-salon-logo_2-01.png" />
        <!--<h1 class="main-head">JME Salon</h1>-->
        <p class="lead">Bringing quality service, talent, and artistry to your hair &amp; beauty needs.</p>
        <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container below-header">

    <div class="row">
        <h1 class="text-center page-header">Welcome to JME Salon</h1>
        <div class="col-md-12 text-center">
            We are a team of talented and passionate stylists who are driven to help you look and feel your best. We provide a modern hair salon experience offering
            services such as haircuts, hair colors, highlights, updos, men's haircuts, kertain treamtments, balayage, and more. In everything that we do, we aim to
            continuously bring our creativity and skills in order to bring you the best salon experience in the area.
        </div>
    </div>

    <div class="row">
        <h1 class="text-center page-header">What We Do</h1>
        <div class="col-md-4 text-center">
            <h2>Color</h2>
            <p>
                We have many certifications in different coloring techniques and house many color specialists at our salon. Whether you're looking for a full color, partial color, balayage, or highlights - we have it all!
            </p>
            <p><a class="btn btn-default" href="/Home/Services">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4 text-center">
            <h2>Cut</h2>
            <p>Our stylists are all talented with their cutting techniques. Come visit our salon to get a fresh, new haircut!</p>
            <p><a class="btn btn-default" href="/Home/Services">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4 text-center">
            <h2>Skin &amp; Makeup</h2>
            <p>We have all things skin and makeup. We also provide all our services for special events!</p>
            <p><a class="btn btn-default" href="/Home/Services">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="row appt-bar">
        <div class="col-lg-12 col-md-12 col-sm-12"><span class="appt-head">Make an appointment with us today!</span> <a class="pull-right btn btn-default" href="/Home/Contact">Make an Appointment</a></div>
    </div>

    
</div>